.title {
  text-align: center;
  color: mediumslateblue;
  font-weight: 900;
  font-size: 20px;
}

.scientists {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
}
